body {
    margin: 0;
    font-family: Arial, sans-serif;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin-left: 10px;
}

table td {
  padding: 5px 0;
  margin: 0;
}

thead > tr > td {
  border-bottom: 1px solid #000;
}

td.name {
  width: 25%;
}

td.update, td.delete {
  width: 15%;
}
